body {
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    margin: 0px;
}

.top_banner .header_welcome {
    font-size: 50px;
}

.top_banner .header_name {
    color: #FFA500;
}

section {
    display: flex;
    padding: 80px;
}

.half_width {
    width: 50%;
    padding: 0px 100px;
}

.half_width p {
    text-align: justify;
}

.half_width img {
    width: 100%;
}

.half_width .link_button {
    text-decoration: none;
    color: white;
    background-color: #FFA500;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 5px;
}

.top_banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream_big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}